<ion-header>
  <ion-toolbar>
    <ion-grid fixed style="margin-top: 0px; margin-bottom: 0px;">
      <ion-row style="margin: 0; padding: 0;">
        <ion-col size="4" class="menu-button">
          <ion-button fill="clear" (click)="openMenu()">
            <ion-icon slot="start" name="menu-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" style="padding-top: 0px; padding-bottom: 0px; text-align: center;">
          <img class="logo" src="assets/img/Header.png" alt="palicrepas">
        </ion-col>
        <ion-col size="4" class="logout-button">
          <ion-button fill="clear" (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>