.logo{
    height: 40px;
    width: 100px;
    margin-top: 0px;
    margin-bottom: -5px;
}

ion-toolbar {
    --background: transparent; /* Fondo transparente */
    --ion-toolbar-padding-start: 0; /* Elimina el padding extra */
    --ion-toolbar-padding-end: 0;
  }

  ion-row{
    max-height: 40px;
  }

  .menu-button {
    margin-top: -15px;
  margin-bottom: -5px;
  width: 100%; /* Hace que los botones ocupen toda la anchura del col */
    display: flex;
    justify-content: flex-start; /* Alinea el botón más a la izquierda */
    padding-left: 5px; /* Agrega un pequeño espaciado si es necesario */
  }
  
  .logout-button {
    margin-top: -15px;
  margin-bottom: -5px;
  width: 100%; /* Hace que los botones ocupen toda la anchura del col */
    display: flex;
    justify-content: flex-end; /* Alinea el botón más a la derecha */
    padding-right: 5px; /* Agrega un pequeño espaciado si es necesario */
  }