<app-header></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
      <ion-col size="12" style="text-align: center;">
        <h1 class="title">Historial de Órdenes</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-accordion-group>
    <ion-accordion *ngFor="let group of groupedOrders">
      <ion-item slot="header">
        <ion-label style="font-weight: bold;">{{ group.date }}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <app-order-item
          *ngFor="let order of group.orders"
          [order]="order"
          (editOrder)="onEditOrder($event)"
          (deleteOrder)="onDeleteOrder($event)"
        ></app-order-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
