<ion-tabs>

  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders" href="/tabs/orders">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Ordenar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
