// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #FFC107;
    --ion-color-primary-rgb: 255, 193, 7;
  
    --ion-color-secondary: #795548;
    --ion-color-secondary-rgb: 121, 85, 72;
  
    --ion-color-tertiary: #FF5722;
    --ion-color-tertiary-rgb: 255, 87, 34;
  
    --ion-color-light: #FFF8E1;
    --ion-color-light-rgb: 255, 248, 225;
  
    --ion-color-medium: #F5F5F5;
    --ion-color-medium-rgb: 245, 245, 245;
  }
  